/* General */

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.debug{
    border: 1px solid black;
}

.d-flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.discount-red{
    padding: 5px 10px;
    background-color: #fc0f0f;
    position: absolute;
    top: 80%;
    left: 0;
    color: white;

}

.discount-green{
padding: 5px 10px;
    background-color: #0f860f;
    position: absolute;
    top: 80%;
    left: 60px;
    color: white;
}

/* Root */

:root{
    --orange: #ff6900;
    --red: #fc0f0f;
    --green: #0f860f;
    --black: #000000;
    --white: #FFFFFF;
}

/* Header */

header{
    background-color: #ff6900;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

Header img{
    width: 150px;
    transform: translate(-40px);
}

header div:first-child{
    padding: 20px 0;
    margin: 0 auto;
    width: 1200px;
    display: flex;
    justify-content: space-between;
}

header .nav-bar li{
    list-style: none;
    color: var(--white);
}

header .nav-bar li a{
    padding: 0 5px;
    color: white;
    text-decoration: none;
}

/* Main */

main{
    margin: 130px auto 80px;
    max-width: 1200px;
}

#contenitore{
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.contenuto{
    width: calc(100% / 3 - 10px) 
    
}

div.contenuto{
    position: relative;
}

.contenuto img{
    width: 100%;
    display: block;
}

.margin{
    margin-top: 30px;
}


/* Footer */

.flex-item{
    display: flex;
    justify-content: space-around;
align-items: center;
}

footer{
    background-color: black;
    padding: 20px;
}

footer h3, footer p, a, i{
    color: white;
    padding: 0 5px 5px 0;
    text-decoration: none;
    
}

footer p{
    font-size: 12px;
}
